<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8c7aca">  <td>18/11/02 15:02:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.checkMyProfilePopup()[pri:2, instance:ui.smoke.testcases.careerView.TC1_LoginToCareerView@50c87b21]">checkMyProfilePopup</td> 
  <td>main@87765719</td>   <td></td> </tr>
<tr bgcolor="8c7aca">  <td>18/11/02 15:02:20</td>   <td>481</td> <td title="&lt;&lt;TC1_LoginToCareerView.killDriver()[pri:0, instance:ui.smoke.testcases.careerView.TC1_LoginToCareerView@50c87b21]">&lt;&lt;killDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@87765719</td>   <td></td> </tr>
<tr bgcolor="8c7aca">  <td>18/11/02 15:02:19</td>   <td>-988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToCareerView.loginToCareerView()[pri:1, instance:ui.smoke.testcases.careerView.TC1_LoginToCareerView@50c87b21]">loginToCareerView</td> 
  <td>main@87765719</td>   <td></td> </tr>
<tr bgcolor="bcffb5">  <td>18/11/02 15:02:19</td>   <td>-68</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC2_updateProfile.updateProfileInfo()[pri:1, instance:ui.smoke.testcases.careerView.TC2_updateProfile@5f375618]">updateProfileInfo</td> 
  <td>main@87765719</td>   <td></td> </tr>
</table>
