<h2>Methods that were not run</h2><table>
<tr><td>ui.smoke.testcases.careerView.TC3_VerifyHomePageNavigations.verifyLocateMe</td></tr>
<tr><td>ui.smoke.testcases.careerView.TC5_VerifyAllHeaderInAdmin.logoutfromAdminSite</td></tr>
<tr><td>ui.smoke.testcases.careerView.TC3_VerifyHomePageNavigations.verifyCompareFunctionality</td></tr>
<tr><td>ui.smoke.testcases.careerView.TC3_VerifyHomePageNavigations.navigateFromHeader</td></tr>
<tr><td>ui.smoke.testcases.careerView.TC5_VerifyAllHeaderInAdmin.verifyingAdminTaskTab</td></tr>
<tr><td>ui.smoke.testcases.careerView.TC5_VerifyAllHeaderInAdmin.verifyAnalyticsTabInAdmin</td></tr>
<tr><td>ui.smoke.testcases.careerView.TC4_LogoutFromCareerView.TestForRequestAssessment</td></tr>
<tr><td>ui.smoke.testcases.careerView.TC2_updateProfile.TestForRequestAssessment</td></tr>
<tr><td>ui.smoke.testcases.careerView.TC3_VerifyHomePageNavigations.navigateToHome</td></tr>
<tr><td>ui.smoke.testcases.careerView.TC5_VerifyAllHeaderInAdmin.verifyingImportTab</td></tr>
</table>