<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94e299">  <td>18/09/18 16:06:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSeleniumGrid.init(java.lang.String)[pri:0, instance:ui.seleniumgrid.testcases.TestSeleniumGrid@1786f9d5]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1889352663</td>   <td></td> </tr>
<tr bgcolor="94e299">  <td>18/09/18 16:06:21</td>   <td>89</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSeleniumGrid.init(java.lang.String)[pri:0, instance:ui.seleniumgrid.testcases.TestSeleniumGrid@24a35978]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@111506314</td>   <td></td> </tr>
<tr bgcolor="94e299">  <td>18/09/18 16:06:30</td>   <td>8305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSeleniumGrid.testSeleniumGrid()[pri:1, instance:ui.seleniumgrid.testcases.TestSeleniumGrid@24a35978]">testSeleniumGrid</td> 
  <td>TestNG@111506314</td>   <td></td> </tr>
<tr bgcolor="94e299">  <td>18/09/18 16:06:40</td>   <td>18949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSeleniumGrid.testSeleniumGrid()[pri:1, instance:ui.seleniumgrid.testcases.TestSeleniumGrid@1786f9d5]">testSeleniumGrid</td> 
  <td>TestNG@1889352663</td>   <td></td> </tr>
</table>
